.home-h1 {
  color: black;
  text-align: center;
}

p, .home-h2 {
  color: azure;
  text-align: center;
}

.button-link {
  text-decoration: none;
  color: white;
  margin-bottom: 7px;
}

.container-no-shadow {
  box-shadow: none;
}

.buttons-card {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
  gap: 10px;
  justify-content: center;
}