.home-h1 {
  color: black;
  text-align: center;
}

.home-h2 {
  color: black;
  text-align: center;
}

p {
	color: white;
}

.button-link {
  text-decoration: none;
  color: white;
  margin-bottom: 7px;
}

.container-no-shadow {
  box-shadow: none;
  width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.buttons-card {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .container-no-shadow {
    width: 320px !important;
  }
}