.card {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 450px;
	height: 220px;
	background-color: black !important;
	color: #fff;
	box-sizing: border-box;
	padding: 40px;
	border-radius: 2px;
	font-family: Cairo, sans-serif;
  box-shadow: none;
	margin: auto;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  margin: 0;
  text-align: center;
}

.card-text {
	font-size: 15px;
	line-height: 1.6;
	color: white;
}

.line-card {
	width: 200px;
	height: 50px;
	margin-top: 15px;
  margin-bottom: 15px;
}

.dates-card {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .card {
    width: 310px;
  }

  .dates-card {
    flex-flow: column wrap;
  }

  .line-card {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}