.card {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 100%;
	height: 225px;
	background-color: black !important;
	color: #fff;
	box-sizing: border-box;
	border-radius: 2px;
	font-family: Cairo, sans-serif;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.card-text {
	font-size: 13px;
	line-height: 1.6;
	color: white;
}

.dates-card {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 230px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 230px;
  }

  .dates-card {
    flex-flow: column wrap;
  }

  .line-card {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}